<div class="login_page">
<title>{{ $Login }}</title>
<h1> Login </h1>
<!-- display flash message -->
  <%- messages() %>
<!-- HTML FORM -->
<div class="form_label">
<fieldset>
  <form id="loginForm" action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="text" name="account_email" id="account_email" required>
    <label for="account_password">Password:</label>
    <input type="password" name="account_password" id="account_password" required>
    <span>Passwords must be at least 12 characters</span>
    <span>and contain at least 1 number,</span>  
     <span>1 capital letter and 1 special character</span>
    <button id="togglePassword">Show Password</button>
    <button type="submit">Login</button>
  </form>
</fieldset>
  <p>No account? <a href="/account/register">Sign up</a></p>
</div>
</div>
<script src="/js/script.js"></script>