<h1>Oluwashina Samuel Ibukun</h1>

<div class="topdmc">
<div class="dmccar">
<div class="dmc">
    <h2>DMC Delorean</h2>
    <h2>3 cup holders</h2>
    <h2>Superman doors</h2>
    <h2>Fuzzy dice!</h2>
</div>
<div class="dmc1">
    <h3>Own Today</h3>
</div>
</div>
<!-- <div class="car">
<img src="../images/vehicles/delorean.jpg" alt="car">
</div> -->
</div>

<div class="delorean">
    <div class="upgrade">
        <h1>Delorean Upgrades</h1>
        <div class="card1"><div class="cardchild"><img src="../images/upgrades/flux-cap.png" alt="flux cap"> <h3>Flux Capacitor</h3></div>
            <div class="cardchild"><img src="../images/upgrades/flame.jpg" alt="flame"><h3>flame Decals</h3></div>
        </div>
        <div class="card2">
            <div class="cardchild"><img src="../images/upgrades/bumper_sticker.jpg" alt=""><h3>Bumper Stickers</h3></div>
            <div class="cardchild"><img src="../images/upgrades/hub-cap.jpg" alt=""><h3>Hub Caps</h3></div>
        </div>
    </div>
    <div class="review">
        <h1>DMC Delorean Review</h1>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5) </li>
            <li>"Coolig ride on the road (4/5)</li>
            <li>"I'm feeling McFly" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's living and i love it" (5/5)</li>
        </ul>
    </div>
</div>