/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 62.5%;
  /* text-decoration: none; */
}

#top-header{
  color: black;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  border: 2rem;
  margin: 2rem;
  border: 2rem;
}

header#top-header a{
  color: black;
}

nav a{
  text-decoration: none;
}

.siteName a{
  text-decoration: none ;
}

nav ul{
  font-size: 2rem;
  background-color: black;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
}
nav ul li{
  background-color: transparent;
  color: white;
  list-style-type: none;
  text-align: center;
} 

nav ul li a{
  font-size: 15px;
} 


ul{
  padding: 1rem;
  margin: 1rem;
  border: 1rem;
}


main{ 
  padding: 4rem;
  margin: 2rem;
  border: 1rem;
  text-align: center;
}

.topdmc{
  background-image: url(../images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2rem;
  border: 2rem;
  height: 700px;
  display: flex;
  width: 100%;
  font-size: 9rem;
  background-color: white;
}

  h1{
  font-size: 2rem;
  background-color: transparent;
}

p{
  font-size: 2rem;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.1rem;
}

h2{
  color: turquoise;
}

.dmc, h2{
  background-color: transparent;
}

.dmc1, h3{
  padding: 0.15rem;
  margin: 0.15rem;
  text-align: center;
}

.dmc1 {
  background-color: aqua;
}

.delorean h1{
  font-size: 2.2rem;
  color: turquoise;
  padding: 2.5rem;
  margin: 2.5rem;
}

.upgrade, card1, card2{
  background-color: transparent ;
}

.card1{
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem;
  border: 1rem;
  background-color: transparent;
  justify-content: center;
}

.card2{
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem;
  border: 1rem;
  background-color: transparent;
  justify-content: center;
}

.review h1{
  color: turquoise  ;
  padding: 2rem;
  border: 1rem;
  margin: 2rem;
}

.review {
  background-color: transparent;
  justify-content: center;
}

footer{
  padding: 1rem;
  background-color: black;
  border: 1rem;
  margin: 1rem;
}

.review ul li{
  font-size: 1.5rem;
}

ul#inv-display{
  display: block;
  padding: 2rem;
  margin: 2rem;
  border: 2rem;
}

li{
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.2rem;
}

img{
  width: 100%;
  height: 60%;
  border-radius:1rem;
}

h1{
  text-align: center;
}

h2{
  font-size: 2rem;
}

.namePrice{
  padding: 1rem;
  margin: 1rem;
  border: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

span.siteName a{
  font-size: 20px;
}

a{
  color: white;
}

ul#inv-display{
  list-style-type: none;
}

.namePrice h2 a{
  color: blue;
  font-size: 15px;
}

p strong{
  font-size: 15px;
}

.copyright{
  color: white;
}

footer a{
  padding: 5px;
  margin: 5px;
  border: 2px;
  font-size: 15px;
}

/* Form */
/* Login Page */
.login_page{
  width: 100%;
  /* background-color: blue; */
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.1rem;
}

.login_page h1{
  text-align: left;
}

#account_email{
  width: 70%;
  font-size: 1rem;
}

#account_password{
  width: 70%;
  font-size: 1rem;
}

#togglePassword{
 width: 40%;
 padding: 0.5rem;
 margin: 0.5rem;
 border: 0.5rem;
 color: white;
 background-color: black;
 border-radius: 20px;
}

button{
  width: 20%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.5rem;
}

.form_label{
  margin: 0.2rem;
  padding: 0.2rem;
  border: 0.2rem;
  background-color: turquoise;
}

fieldset{
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.form_label a{
  color: black;
}

span{
  text-align: left;
  font-size: 1rem;
}

#account_firstname{
  width: 50%;
  font-size: 1rem;
}

#account_lastname{
  width: 70%;
  font-size: 1rem;
}

form{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* Registration */
.registration_form{
  background-color: turquoise;
}

.registerContainer h1{
  text-align: left;
}

.registerContainer h2{
  color: black;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.1rem;
}

.registerContainer{
  width: 100%;
}

/* Server side validation ul */
ul.notice{
  color: red;
  font-size: 1.5rem;
  text-align: left;
}

/* Client side validation CSS */
input:required:invalid, input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
 }
  input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
  }

input{
    height: 30px;
    border-radius: 3px;
  }

/* management, add-classification, add-inventory */
label{
    text-align: left;
    font-size: 20px;
}

.vehicle_invent{
  border: 0.2rem solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  background-color: turquoise;
  text-align: center;
  width: 100%;
}

.vehicle_invent a{
  display: grid;
  grid-template-rows: 1fr;
  color: black;
  font-size: 1.5rem;
  margin: 2rem;
  border: 0.2rem;
  padding: 0.2rem;
}

.add_class{
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
  background-color: turquoise;
  text-align: center;
  width: 100%;
}

.add_class h1, p, label{
  text-align: left;
  font: 12px   sans-serif;
  margin: 5px;
  padding: 5px;
  border: 5px;
}

h2.vehicle_name{
  text-align: left;
}

input#classificationName{
  width: 50%;
  font-size: 15px;
}

select#inv_classification{
  width: 50%;
  font-size: 10px;
}

form#addInventoryForm, input{
  width: 70%;
  font-size: 10px;
}

textarea#inv_description{
  width: 100%;
  height: 150px;
  font-size: 10px;
}

ul#inv-display{
  text-align: center;
}

#classificationList{
  font-size: 10px;
  width: 40%;
}

ul.notice li{
  text-align: left;
}

.vehicle_invent p{
  text-align: center;
}

.vehicle_invent{
  justify-content: center;
}

#classificationList{
  height: 30px;
  border: 5px;
  margin: 20px;
  font-size: 12px;
}

#inventoryDisplay{
  width: 100%;
}

th{
  font-size: 15px;
}

td{
  font-size: 12px;
}
/* 64em is also 1028px when base front is 16px */
@media only screen and (min-width: 64rem){
body{
  display: flex;
  justify-content: center;
  background-image: url(../images/site/checkerboard.jpg);
  background-size: 300px 380px;
}

#wrapper{
  background: white;
  width: 90%;
  border: 0.5rem solid red;
}

  .delorean{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      margin: 2rem;
      border: 2rem;
      background-color: transparent;
    } 

    .firstClassification ul#inv-display{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5rem;
      row-gap: 5px;
      column-gap: 5px;
    }

    .dmc1, h3{
      padding: 0.4rem;
      margin: 0.4rem;
    }
    .review ul li{
      font-size: 2rem;
    }

    .delorean h1{
      font-size: 3rem;
    }

    h1{
      font-size: 2rem;
    }

    .topdmc{
      font-size: 12rem;
}

.cardchild{
  background-color: aqua;
  width: 12rem;
  text-align: center;
  font-size: 2rem;
}

.cardchild img{
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.1rem;
}

header#top-header a{
  color: black;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 0.1rem;
}

h1{grid-area: h1;}
.vehicle_detail_image{grid-area: vehicle_detail_image;}
.vehicle_detail_box{grid-area: vehicle_detail_box;}

.vehicle_inv{
  display: grid;
  grid-template-areas: 
  'h1 h1 h1 h1'
  'vehicle_detail_image vehicle_detail_image vehicle_detail_box vehicle_detail_box ';
}

.vehicle_detail_box{
  padding: 1rem;
  border: 1rem;
  margin: 1px;
}

img.vehicle_detail_img{
  height: 80%;
}

.namePrice{
  font-size: 2rem;
}

/* login */
.login_page{
  width: 50%;
}

/* registration */
.registerContainer{
  width: 50%;
}

.vehicle_inv a{
  text-align: center;
}

.add_class{
  width: 50%;
}

.vehicle_invent{
  width: 40%;
}

button{
  font-size: 7px;
}



}