<!-- add-classification.ejs -->
<div class="add_class">
    <% if (title) { %>
      <h1><%= title %></h1>
    <% } else {
      res.redirect('/');
    } %>
  
  <%- messages() %>

    <p>FIELD IS REQUIRED.</p>
    <fieldset>
        <!-- Classification form -->
    <form id="classificationForm" action="/inv/add-classification" method="post" onsubmit="return validateForm()">
      <label for="classificationName">Classification Name:</label>
      <p>NAME MUST BE ALPHABETIC CHARACTER ONLY.</p>
      <input type="text" id="classificationName" name="classification_name" required value="<%= locals.classificationName %>" >
      <button type="submit">Add Classification</button>
  </form>
    </fieldset>
  </div>
  <script src="/js/script.js"></script>